### Eclipse
.classpath
.metadata
.gradle
.project
.settings/
.loadpath
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib
local.properties
bin/
tmp/


### Intellij
.idea/
*.iml
*.iws
/out/



# sbt specific
.cache/
.history/
.lib/
dist/*

lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target
activemq-data/*
temp/


### Maven 
/logs/*
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### File-based project format:
*.ipr
*.iws

### mpeltonen/sbt-idea plugin
.idea_modules/

### JIRA plugin
atlassian-ide-plugin.xml

### Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

### External tool builders
.externalToolBuilders/

### Locally stored "Eclipse launch configurations"
*.launch

### CDT-specific
.cproject

### JDT-specific (Eclipse Java Development Tools)
.classpath

### Java annotation processor (APT)
.factorypath

### PDT-specific
.buildpath

### sbteclipse plugin
.target

### TeXlipse plugin
.texlipse

### Java template
*.class
/bin/*

### Mobile Tools for Java (J2ME)
.mtj.tmp/

### Package Files #
*.jar
*.war
*.ear

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/campaign-core/nbactions.xml